* {
    box-sizing: border box;
}

html { 
    background: url('../images/starwars.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.sec {
    height: 220px;
    /* border: 2px solid black; */
}

.fight-section {
    height: 60px;
}

button {
    border: 1px solid black;
    color: black;
    height: 20px;
    width: 100px;
    margin: 10px;
}

h1 {
    font-size: 24px;
}

.damage p {
    margin-top: 30px;
}

.luke,
.obi,
.sid,
.maul {
    background-color: white;
    width: 300px;
    height: 160px;
    display: inline-block;
    border: 2px solid black;
    margin: auto;
    /* padding-left: 24px; */
    text-align: center;
    
}

img {
    max-width: 80%;
    max-height: 75%;
    display: inline-block;
    /* margin: auto; */
    /* margin-top: 10px; */
    
}

/* img.obi,
img.luke,
img.sid,
img.maul {
    margin-top: 10px;
} */

.enemies .obi,
.enemies .sid,
.enemies .luke,
.enemies .maul {
    background-color: red;
}

.defender .obi,
.defender .sid,
.defender .luke,
.defender .maul {
    background-color: black;
    color: white;
}

p {
    margin-top: 0px;
}



    
