* {
    box-sizing: border box;
}

.sec {
    height: 220px;
    border: 2px solid black;
}

.fight-section {
    height: 80px;
}

button {
    border: 1px solid black;
    color: black;
    height: 20px;
    width: 100px;
    margin: 10px;
}

h1 {
    font-size: 16px;
}

.luke,
.obi,
.sid,
.maul {
    background-color: red;
    width: 300px;
    height: 160px;
    display: inline-block;
    border: 2px solid black;
    
}

img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
}

img.obi,
img.luke,
img.sid,
img.maul {
    margin-top: 10px;
}

.damage p {
    margin-top: 30px;
}

.luke2,
.obi2,
.sid2,
.maul2 {
    background-color: red;
    width: 300px;
    height: 160px;
    display: inline-block;
    border: 2px solid black;
    
}